<#@ template language="C#" #>
<#@ import namespace="Samayas.CodeGenerator.Repositories" #>
<#@ import namespace="System.Collections.Generic" #>
<#
    RepositoryGenerator generator = new RepositoryGenerator();
    generator.Session = new Dictionary<string, object>
    {
        { "NamespaceName", "MyApp.Data.Repositories" },
        { "EntityName", "User" },
        { "PrimaryKeyType", "System.Guid" },
        { "IncludeAsync", true },
        { "IncludeLogging", false },
        { "ModelUsing", "Repository.Models" }
    };

    generator.Initialize();
#>
<#= generator.TransformText() #>