@model BlogSlugify4RouteSlugify.ViewModels.Blog.BlogSiteIndexViewModel
@{
    ViewData["Title"] = "Blog Posts";
}

<div class="container mt-5">
    <h1>@ViewBag.Title</h1>
    <div>
        There are @Model.Count Blogposts
    </div>
</div>