@{
	ViewData["Title"] = "Severside Controller V2 android hack - Large Medium Small";
}

<div class="container mt-5">
	<h2>Server Controller V2 android hack Large Medium Small</h2>

	No Resize after load ! <br />

	<img src="/responsive-imageV2/image.jpeg" />
</div>