@{
	ViewData["Title"] = "Serverside Controller V3 android Hack - Image Large Medium Small";
}
<div class="container mt-5">
	<h2>Server Controller V3 android hack - Large Medium Small</h2>

	No Resize after load ! <br />

	<img src="/responsive-imageV3/image.jpeg" />
</div>