@{
	ViewData["Title"] = "Serverside Controller - Large Medium Small";
}

<div class="container mt-5">
	<h2>Server Controller Large Medium Small</h2>

	No Resize after load ! <br />

	<img src="/responsive-image/image.jpeg" />
</div>