@{
	ViewData["Title"] = "Serverside Advanced Controller - Image Large Medium";
}

<div class="container mt-5">
	<h2>Server Controller Advanced - Large Medium Small</h2>

	No Resize after load ! <br />

	<img src="/responsive-imageadv/image.jpeg" />
</div>