@{
	ViewData["Title"] = "Serverside Controller V3 android hack + picutre media - Image Large Medium Small";
}

<div class="container mt-5">
	<h2>Server Controller V3 android hack + Picture media - Large Medium Small</h2>

	<picture>
		<source media="(min-width: 992px)" srcset="/responsive-imageV3/image.jpeg?size=desktop">  
		<source media="(min-width: 768px)" srcset="/responsive-imageV3/image.jpeg?size=tablet">   
		<img src="/responsive-imageV3/image.jpeg?size=mobile" alt="Responsive Image">
	</picture>
</div>