@{
	ViewData["Title"] = "Clientside 3 Image - Large Medium Small";
}

<div class="container mt-5">
	<h2>3 Image - Large Medium Small</h2>

	<div>
		<h4>Large Image</h4>
		<b>The jpeg image is 4431k</b> <br />
		<img src="/images/desktop/image.jpeg" />
		<br />
	</div>

	<div>
		<h4>Medium Image</h4>
		<b>The jpeg image is 29k</b> <br />
		<img src="/images/tablet/image.jpeg" />
		<br />
	</div>

	<div>
		<h4>small Image</h4>
		<b>The jpeg image is 19k</b> <br />
		<img src="/images/mobile/image.jpeg" />
		<br />
</div>