@{
    ViewData["Title"] = "Overview";
}

<div class="container">
    <h2>Image Types</h2>
    <p>The <a href="/Home/ImageTypes">Image types</a> Samples</p>
    <br />
    <h2>Client Image Handling</h2>
    <p>The <a href="/Home/Image1LMS3Versions">Image (Large / medium / small)</a> 3 Img Versions</p>
    <br />
    <p>The <a href="/Home/Image2LMSResponsiveBootstrap">Image (Large / medium / small) Responsive</a> 3 Images Boostrap class</p>
    <br />
    <p>The <a href="/Home/Image3LMSPictureMedia">Image (Large / medium / small) Media</a> 1 Picture Media</p>
    <br />
    <p>The <a href="/Home/Image4LMS3DataAttributes">Image (Large / medium / small)</a> 1 Img Data Attributes</p>
    <br />
    <p>The <a href="/Home/Image5LMSSrcSetAttribute">Image (Large / medium / small)</a> 1 Img SrcSet Data Attribute</p>
    <br />
    <h2>Server Image Handling</h2>
    <p>The <a href="/Home/ImageS1LMSImageController">Image (Large / medium / small) Server Image Controller</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageS2LMSImageControllerV2">Image (Large / medium / small) Sever Image Controller V2 (Android Tweak)</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageS3LMSImageAdvancedController">Image (Large / medium / small) Image Advanced Controller</a> Samples</p>
    <br />
    <h2>Mixed Image Handling</h2>
    <p>The <a href="/Home/ImageM1LMSImageControllerV3">Image (Large / medium / small) Image Controller V3 (Android Tweak) + Client script</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageM2LMSImageControllerV3">Image (Large / medium / small) Image Controller V3 (Android Tweak)</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageM3LMSImageControllerV3">Image (Large / medium / small) Image Controller V3 (Android Tweak) + Client script + Noscript fallback</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageM4LMSImageControllerV3">Image (Large / medium / small) Image Controller V3 (Android Tweak) + Client script + Noscript fallback + resize</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageM5LMSPictureMediaControllerV3">Image (Large / medium / small) Image Controller V3 (Android Tweak) + Picture Media</a> Samples</p>
    <br />
    <p>The <a href="/Home/ImageM6LMSImageMediaControllerV4">Image (Large / medium / small) Image Controller V4 (Android Tweak) + Client script + cookie</a> Samples</p>
    <br />
    <h2>MIddleware Image Handling</h2>
    <p>The <a href="/Home/ImageH1LMSPictureMediaHandlerV1">Image (Large / medium / small) Image Controller V4 (Android Tweak) + Client script + cookie</a> Samples</p>

</div>